.container{
    border: 2px dashed teal;
    padding: 10px;
    display: flex;
    justify-content :center;
    align-items:center;
    height: 300px;
}
.box{
    margin-right: 10px;
    width: 100px;
    height: 100px;
    border: 2px solid black;
}
.box:nth-child(3){
    margin-right: 0;
}